<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>674246714636-5eeviao1otn3mton92ltf305a225a8j9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.674246714636-5eeviao1otn3mton92ltf305a225a8j9</string>
	<key>API_KEY</key>
	<string>AIzaSyABKOP9hQWjUbAM0ZI99iW_Jrru_bA8PHs</string>
	<key>GCM_SENDER_ID</key>
	<string>674246714636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mistyGro</string>
	<key>PROJECT_ID</key>
	<string>mistygro-24ea9</string>
	<key>STORAGE_BUCKET</key>
	<string>mistygro-24ea9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:674246714636:ios:772df4957f7358433cd529</string>
	<key>DATABASE_URL</key>
	<string>https://mistygro-24ea9-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>